.header {
    background-color: rgba(0, 0, 0, 0.944);
    padding: 3%;
    height: 0.1rem;
    width: 100%;
    overflow: hidden;
    transition: 1s;
}

.header:hover {
    height: 6rem;
    transition: 1s;
}

.header2 {
    margin-top: -1%;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
}

.linksL {
    color: #eee;
    transition: 0.5s;
    transition: border-width 0.3s;
    border-width: 0px;
}
.linksL:hover {
    border-bottom: 2px solid orange;
    border-width: 4px;
}

.linka {
    margin: 0 1rem;
}

.imagem {
    margin-top: -3%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .header {
        height: 4rem;
    }
    .linksL {
        font-size: 12px;
    }
    .imagem {
        margin-top: -5%;
    }

}