.cardsContainer {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Três colunas igualmente espaçadas */
    gap: 10px;
}

.cards {
    margin: 1rem;
    backdrop-filter: blur(2px);
    background-color: #ffffff02;
    border: #ffffff4a 0.01rem solid;
    border-radius: 8px;
    padding: 1rem;
    transition: 0.5s;   

}
.cards:hover {
    box-shadow: 1px 1px 20px 1px #ffffff2e;
    -webkit-box-shadow: 1px 1px 20px 1px #ffffff2e;
    -moz-box-shadow: 1px 1px 20px 1px #ffffff2e;
    transition: 0.5s;
    transform: scale(1.05);
}

.buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .main {
    background-image: url(../../public/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .divInput{
    text-align: center;
  }

  .searchInput {
    padding: 0.5rem 1.5rem;
    background-color: #00000000;
    border: 1px #f0f0f02d solid;
    margin: 1rem;
    border-radius: 8px;
    color: #ffffffcc;
  }
  .searchInput:focus {
    outline: none;
  }

  .mudarPage {
    background-color: #ff7803b9;
    border-radius: 8px;
font-size: 16px;
padding: 0.1rem 0.5rem;
border: none;
  }

  .searchDiv {
    text-align: center;
    padding: 1rem;

  }
