.container {
    background-color: black;
    gap: 30%;
    padding: 2%;
    display: flex;
    width: 100%;
    margin-bottom: -20%;
    margin-top: 1rem;
}

.direitos {
    color: #ccc;
    font-size: 12px;
    width: 100%;
}

.img {
    margin-top: 2%;
}

.titulo {
    color: #fff;
    margin-bottom: 10px;
}

.container2 {
    border-left: 2px solid rgb(245, 121, 5);
    padding: 2%;
    width: 100%;
}

.icons {
    display: flex;
}
.icon {
    margin: 0.3rem;
    color: #ccc;
    font-size: 30px;
}

@media (max-width: 600px){
    .container {
        margin-bottom: -50%;
        flex-direction: column;
    }
    .container2 {
        margin-bottom: 2rem;
    }

}