.divMain {
   text-align: center;
   margin-top: 5px ;
}


.divMain a{
    color: #ffffffad;
    text-decoration: none;
    padding: 0px 5px 10px 0;
    position: relative;
}
.divMain a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background: rgb(22,13,135);
    background: linear-gradient(90deg, rgba(22,13,135,1) 8%, rgba(36,23,196,1) 29%, rgba(255,156,16,1) 78%, rgba(255,204,16,1) 92%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    border-radius: 1%;
}

.divMain a:hover::after{
    width: 100%;
}


