.divMain {
  background-image: url(../../public/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-top: 10%;
  margin: 0;
  padding: 0;
}


.container {
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  width: 100vh;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(28, 28, 28);
  border-radius: 20px;
  margin-top: 12%;
}

.footer {
  height: 30rem;
}

.btnTodos {
  flex-direction: column;
  display: flex;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.h1 {
  color: #fff;
  text-align: center;
  margin-top: -4%;
  font-size: 30px;
}

.ladoDireito {
  color: #eee;
  background: #393939;
  height: 89%;
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: center;
  padding: 2%;
  margin: auto;
  align-items: center;
  border-radius: 20px;
  box-shadow: 11px 10px 42px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 11px 10px 42px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 42px 0px rgba(0, 0, 0, 0.75);
  
}
.teste{
  margin-top: 5%;
}

.p{
  margin: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  
}


.butao {
  border: transparent;
  background-color: transparent;
  display: block;
  opacity: 0.5;
  height: 40px;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.image {
  border-radius: 100%;
}

.butao:hover {
  color: #ff8000;
  opacity: 0.75;
  cursor: pointer;
}

@media (max-width: 780px) {

  .container{
    height: 110%;
    width: 95%;
    flex-direction: column;
    margin-top: 35%;
  }

   .ladoDireito{
    width: 80%;
    height: 40%;
  }
/*
  .p{
    font-size: 15px;
  }

  .image{

    width: 50%;
    height: 50%;
    
  }

 .engenhocas{
  bottom: 0;
  position: absolute;
  background-color: black;
  gap: 30%;
  padding: 2%;
  display: flex;
  width: 100%;
  margin-bottom: -20%;
  margin: 0  ;
 }

 .btnTodos{
  font-size: 10px;
 */
  .footer {
    height: 40rem;
  } 

}
