* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
}

@font-face {
    font-family: 'csgo';
    src: local('csgo'), url(../fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
}