* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  body {
    height: 100vh;
  }

