.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;

}

.sec {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  flex-wrap: wrap;
  overflow: hidden;
}

.sec::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, orange, #000);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.sec span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}

.sec span:hover {
  background: orange;
  transition: 0s;
}

.sec .signin {
  position: absolute;
  margin: 1rem;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}

.sec .signin .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border-radius: 15px;
}

.sec .signin .content {
  font-size: 2em;
  color: orange;
  text-transform: uppercase;
}

.sec .signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sec .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}

.sec .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.sec .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}

.signin .content .form .inputBox~i,
.signin .content .form .inputBox~i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}

.signin .content .form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signin .content .form {
  color: #fff;
  text-decoration: none;
}

.signin .content .form a:nth-child(2) {
  color: orange;
  font-weight: 600;
}

.signin .content .form .button {
  padding: 5px;
  background: orange;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.link {
  background: transparent;
  border: solid 1px orange;
  padding: 3%;
  margin-bottom: 5%;
  border-radius: 10px;
  color: orange;
  margin-top: 5%;
}

.link:hover {
  cursor: pointer;
}


.title {
  color: orange;
}

.msg {
  width: 100%;
}
.p{
  color: yellow;
}


@media (max-width: 900px) {
  .sec span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

@media (max-width: 600px) {
  .sec span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}

@media (max-width: 780px) {

  .link {
    margin-bottom: 15%;
    margin-top: 5%;
    width: 90%;
  }

}